#tap-list div:hover{
  cursor: pointer;
}

.contents:hover > div{
  border-bottom: 1px solid red;
}

#delete:hover{
  background-color: #ed4c4c !important;
  border:solid red 1px !important;
}

input {
  padding:10px;
  border-radius:10px;
  display: block;
  margin:auto;
  margin-bottom: 5px;
  outline: none;
  background-color: white;
}

#details-buttons button:first-child{
  display: block;
  flex-grow: 4;
}

#details-buttons button:nth-child(2){
  display: block;
  margin-left: 4px;
  flex-grow: 1;
}

#yes-and-no-buttons button:first-child{
  display: block;
  flex-grow: 1;
}

#yes-and-no-buttons button:nth-child(2){
  display: block;
  margin-left: 5px;
  flex-grow: 1;
}

#item-button:hover{
  transform: scale(1.02);
}

#keg-add-edit-button:hover, .edit-and-delete-buttons:hover, #add-keg:hover,.return-to-list-button:hover {
  border: 2px ridge rgb(228, 217, 217) !important;
  background-color: #F0F0F0	 !important;
}

